@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%; }
  .header::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    content: ""; }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 121px;
    position: relative; }
  .header__logo {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 50; }
  .header__decor {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .header__burger {
    display: none; }
  .header__burger.active::before {
    top: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .header__burger.active::after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3; }
    .header__list li {
      margin: 0 0 0 33px; }
      .header__list li:first-child {
        margin-left: 0; }
  .header__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21429;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease; }
    .header__link_active {
      color: #dfb388;
      position: relative; }
      .header__link_active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #dfb388;
        bottom: 0;
        left: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%); }
    .header__link:hover {
      color: #dfb388; }

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden; }
  .header::before {
    background: #202824; }
  .header__list {
    display: block;
    text-align: center;
    margin-top: 70px; }
    .header__list li {
      margin: 0; }
      .header__list li:not(:last-child) {
        margin-bottom: 25px; }
  .header__link {
    font-size: 18px; }
  .header__body {
    height: 70px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .header__decor {
    display: none; }
  .header__menu {
    position: fixed;
    background: #202824;
    top: -100%;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 100%;
    height: 100%;
    overflow: auto; }
  .header__menu.active {
    top: 0;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px; }
    .header__burger::after, .header__burger::before {
      position: absolute;
      left: 0;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      width: 100%;
      height: 2px;
      content: "";
      background-color: #f1d8c0;
      border-radius: 1px; }
    .header__burger::before {
      top: 0; }
    .header__burger::after {
      bottom: 0; }
    .header__burger span {
      position: absolute;
      top: 9px;
      left: 0;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #f1d8c0;
      width: 100%;
      height: 2px; } }

/*-------------------------------ШРИФТЫ-----------------------------------*/
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Bold/Futura-Bold.eot");
  src: url("../fonts/Futura-Bold/Futura-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Bold/Futura-Bold.woff") format("woff"), url("../fonts/Futura-Bold/Futura-Bold.ttf") format("truetype"), url("../fonts/Futura-Bold/Futura-Bold.svg#Futura-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Gallient";
  src: url("../fonts/Gallient-Regular/Gallient-Regular.woff");
  src: url("../fonts/Gallient-Regular/Gallient-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gallient-Regular/Gallient-Regular.woff") format("woff"), url("../fonts/Gallient-Regular/Gallient-Regular.ttf") format("truetype"), url("../fonts/Gallient-Regular/Gallient-Regular.svg#Gallient-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/*-------------------------ШРИФТ ПО УМОЛЧАНИЮ-----------------------------*/
/*-------------------------------ПЕРЕМЕННЫЕ-------------------------------*/
/*
   @media (max-width: $md2 + px) {
   }
   @media (max-width: $md3 + px) {
   }
   @media (max-width: $md4 + px) {
   }
*/
/*--------------------------CONTENT WRAPPERS------------------------------*/
body {
  font-family: "";
  background: #202824; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  .wrapper::after {
    content: url("../images/decor-2.png");
    position: absolute;
    bottom: -18px;
    right: 3px;
    z-index: -1; }
  @media (max-width: 1099.98px) {
    .wrapper::after {
      bottom: -18px;
      right: -30px; } }
  @media (max-width: 899.98px) {
    .wrapper::after {
      bottom: -18px;
      right: -200px; } }
  @media (max-width: 767.98px) {
    .wrapper::after {
      bottom: -200px;
      right: -300px; } }
  @media (max-width: 767.98px) {
    .wrapper::after {
      display: none; } }

.container {
  max-width: 1276px;
  margin: 0 auto;
  padding: 0 40px; }
  .container__header {
    position: relative; }

@media (max-width: 767.98px) {
  .container {
    padding: 0 15px; } }

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

/*------------------------------HEADER------------------------------------*/
.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%; }
  .header::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    content: ""; }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 121px;
    position: relative; }
  .header__logo {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 50; }
  .header__decor {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .header__burger {
    display: none; }
  .header__burger.active::before {
    top: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .header__burger.active::after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3; }
    .header__list li {
      margin: 0 0 0 33px; }
      .header__list li:first-child {
        margin-left: 0; }
  .header__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21429;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease; }
    .header__link_active {
      color: #dfb388;
      position: relative; }
      .header__link_active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #dfb388;
        bottom: 0;
        left: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%); }
    .header__link:hover {
      color: #dfb388; }

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden; }
  .header::before {
    background: #202824; }
  .header__list {
    display: block;
    text-align: center;
    margin-top: 70px; }
    .header__list li {
      margin: 0; }
      .header__list li:not(:last-child) {
        margin-bottom: 25px; }
  .header__link {
    font-size: 18px; }
  .header__body {
    height: 70px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .header__decor {
    display: none; }
  .header__menu {
    position: fixed;
    background: #202824;
    top: -100%;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 100%;
    height: 100%;
    overflow: auto; }
  .header__menu.active {
    top: 0;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px; }
    .header__burger::after, .header__burger::before {
      position: absolute;
      left: 0;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      width: 100%;
      height: 2px;
      content: "";
      background-color: #f1d8c0;
      border-radius: 1px; }
    .header__burger::before {
      top: 0; }
    .header__burger::after {
      bottom: 0; }
    .header__burger span {
      position: absolute;
      top: 9px;
      left: 0;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #f1d8c0;
      width: 100%;
      height: 2px; } }

/*-------------------------------BEM-BLOCKS-------------------------------*/
/*------------------------------PAGE--------------------------------------*/
.line {
  position: absolute;
  top: 0;
  left: 14px;
  z-index: 20; }
  .line__item {
    height: 76vh;
    width: 2px;
    background-color: #dfb388;
    margin-bottom: 16px; }
  .line__icons a {
    display: block;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .line__icons a:not(:last-child) {
    margin-bottom: 24px; }
  .line__icons img:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
    -webkit-transition: -webkit-filter ease 0.4s;
    transition: -webkit-filter ease 0.4s;
    -o-transition: filter ease 0.4s;
    transition: filter ease 0.4s;
    transition: filter ease 0.4s, -webkit-filter ease 0.4s; }

@media (max-width: 1290px) {
  .line {
    left: 25px; } }

@media (max-width: 767.98px) {
  .line {
    display: none; } }

.cover {
  padding: 0 0 116px 0;
  position: relative; }
  @media (max-width: 574.98px) {
    .cover {
      padding: 0 0 80px 0; } }
  @media (max-width: 409.98px) {
    .cover {
      padding: 0 0 60px 0; } }
  @media (max-width: 349.98px) {
    .cover {
      padding: 0 0 40px 0; } }
  .cover::before {
    content: url("../images/decor.png");
    position: absolute;
    top: -11px;
    left: -241px; }
  .cover::after {
    content: url("../images/decor.png");
    position: absolute;
    top: -90px;
    right: -238px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  .cover__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 31.3834px;
    line-height: 1.17897;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 14px 0 -24px 0; }
    .cover__title_contacts {
      margin: 14px 0 0px 0; }
    .cover__title_studio {
      margin: 14px 0 14px 0; }
    .cover__title_services {
      margin: 14px 0 -12px 0; }
  .cover__subtitle {
    font-family: Gallient;
    font-style: normal;
    font-weight: normal;
    font-size: 168.08px;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px; }
    .cover__subtitle_contacts {
      margin-bottom: 70px; }
  .cover__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.buttons__book-session {
  display: inline-block;
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.35714;
  text-transform: uppercase;
  color: #202824;
  background: #f1d8c0;
  border-radius: 36px;
  padding: 9px 18px;
  min-width: 171px;
  margin-right: 18px; }
  .buttons__book-session:hover {
    background: #dfb388;
    -webkit-transition: background ease 0.4s;
    -o-transition: background ease 0.4s;
    transition: background ease 0.4s; }

.buttons__explore {
  display: inline-block;
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.35714;
  color: #f1d8c0;
  border: 2px solid #f1d8c0;
  border-radius: 36px;
  padding: 7px 75px 7px 27px;
  min-width: 171px;
  background: url("../images/btn-arrow.svg") 84% 50% no-repeat; }
  .buttons__explore:hover {
    border: 2px solid #dfb388;
    color: #dfb388;
    -webkit-transition: color ease 0.4s;
    -o-transition: color ease 0.4s;
    transition: color ease 0.4s;
    -webkit-transition: border ease 0.4s;
    -o-transition: border ease 0.4s;
    transition: border ease 0.4s; }

@media (max-width: 767.98px) {
  .cover__title {
    font-size: 24px;
    margin: 0 0 -20px 0; }
  .cover__subtitle {
    font-size: 128px; } }

@media (max-width: 559.98px) {
  .cover__title {
    font-size: 18px;
    margin: 0 0 -15px 0; }
  .cover__subtitle {
    font-size: 96px; } }

@media (max-width: 424.98px) {
  .cover__title {
    font-size: 14px;
    margin: 0 0 -10px 0; }
  .cover__subtitle {
    font-size: 72px; } }

@media (max-width: 374.98px) {
  .buttons {
    display: block;
    text-align: center; }
    .buttons__book-session {
      margin: 0 0 20px 0; } }

.container__slider {
  position: relative;
  padding: 0 104px 92px 104px; }

/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0 60px;
  /* Cлайд */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Стрелка */
  /* Стрелка вправо */
  /* Стрелка влево */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */ }
  .slider::before {
    content: url("../images/decor.png");
    position: absolute;
    -webkit-transform: scale(-1, 1) rotate(-86.25deg);
    -ms-transform: scale(-1, 1) rotate(-86.25deg);
    transform: scale(-1, 1) rotate(-86.25deg);
    bottom: -224px;
    left: -30px;
    z-index: -1; }
  @media (max-width: 1099.98px) {
    .slider::before {
      bottom: -224px;
      left: -200px; } }
  @media (max-width: 767.98px) {
    .slider::before {
      bottom: -424px;
      left: -200px; } }
  @media (max-width: 767.98px) {
    .slider::before {
      display: none; } }
  .slider__item {
    text-align: center; }
    .slider__item img {
      max-width: 100%;
      max-height: 339px;
      -o-object-fit: contain;
      object-fit: contain; }
  .slider .slick-list {
    overflow: hidden;
    max-height: 339px; }
  .slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px; }
  .slider .slick-arrow.slick-next {
    right: 0;
    background: url("../images/arrow-active.svg") 0 0/100% no-repeat; }
    .slider .slick-arrow.slick-next:hover {
      -webkit-filter: brightness(80%);
      filter: brightness(80%);
      -webkit-transition: -webkit-filter ease 0.4s;
      transition: -webkit-filter ease 0.4s;
      -o-transition: filter ease 0.4s;
      transition: filter ease 0.4s;
      transition: filter ease 0.4s, -webkit-filter ease 0.4s; }
  .slider .slick-arrow.slick-prev {
    left: 0;
    background: url("../images/arrow-active.svg") 0 0/100% no-repeat;
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%); }
    .slider .slick-arrow.slick-prev:hover {
      -webkit-filter: brightness(80%);
      filter: brightness(80%);
      -webkit-transition: -webkit-filter ease 0.4s;
      transition: -webkit-filter ease 0.4s;
      -o-transition: filter ease 0.4s;
      transition: filter ease 0.4s;
      transition: filter ease 0.4s, -webkit-filter ease 0.4s; }
  .slider .slick-arrow.slick-disabled {
    background: url("../images/arrow-blocked.svg") 0 0/100% no-repeat; }
    .slider .slick-arrow.slick-disabled:hover {
      -webkit-filter: brightness(100%);
      filter: brightness(100%); }
  .slider .slick-dots {
    position: absolute;
    bottom: -44px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(100%);
    -ms-transform: translateX(-50%) translateY(100%);
    transform: translateX(-50%) translateY(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 9px;
    font-size: 0px; }
  .slider .slick-dots li {
    list-style: none;
    margin: 0 16px; }
  .slider .slick-dots li.slick-active button {
    width: 100px;
    height: 9px;
    background: #ffffff; }
  .slider .slick-dots li button {
    font-size: 0;
    width: 100px;
    height: 5px;
    background: rgba(255, 255, 255, 0.4); }

.slider__counter {
  position: absolute;
  bottom: 104px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(100%);
  -ms-transform: translateX(-50%) translateY(100%);
  transform: translateX(-50%) translateY(100%);
  z-index: 1; }

.slider__current-slide {
  font-family: "Gallient";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.41667;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  color: #fff; }

.slider__all-slides {
  font-family: "Gallient";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  color: #ffffff; }

@media (max-width: 1099.98px) {
  .container__slider {
    padding: 0 60px 92px 60px; } }

@media (max-width: 767.98px) {
  .slider {
    padding: 0 15px; }
  .container__slider {
    padding: 0 15px 92px 15px; } }

@media (max-width: 624.98px) {
  .slider {
    /* Активная точка */
    /* Элемент точки */ }
    .slider .slick-dots li {
      margin: 0 16px; }
    .slider .slick-dots li.slick-active button {
      width: 70px;
      height: 9px; }
    .slider .slick-dots li button {
      width: 70px;
      height: 5px; } }

@media (max-width: 424.98px) {
  .slider__counter {
    bottom: 100px; }
    .slider__counter .slider__current-slide {
      font-size: 42px; }
    .slider__counter .slider__all-slides {
      font-size: 18px; } }

@media (max-width: 377.98px) {
  .slider__counter {
    bottom: 100px; }
    .slider__counter .slider__current-slide {
      font-size: 36px; }
    .slider__counter .slider__all-slides {
      font-size: 14px; } }

/*===============================FOOTER=====================================*/
.footer {
  padding: 0 0 20px 0; }
  .footer__line {
    width: 70vw;
    margin: 0 auto 20px auto;
    height: 2px;
    background-color: #f1d8c0; }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer__icons img {
      height: 40px; }
    .footer__icons a:not(:last-child) {
      margin-right: 20px; }

@media (max-width: 424.98px) {
  .footer__icons img {
    height: 30px; } }

@media (min-width: 767.98px) {
  .footer {
    display: none; } }

/*====================================CONTACTS====================================*/
.page {
  padding: 14px 0 0 0; }

.container_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contacts {
  padding-bottom: 50px; }
  .contacts__row {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contacts__info {
    margin-right: 20px; }
    .contacts__info > a div {
      -webkit-transition: color 0.2s ease;
      -o-transition: color 0.2s ease;
      transition: color 0.2s ease; }
    .contacts__info > a:hover > div {
      color: #f1d8c0; }
  .contacts__image img {
    max-width: 100%; }

.contacts-info__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18182;
  color: #ffffff;
  margin-bottom: 10px; }

.contacts-info__specialty {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  color: #ffffff;
  margin-bottom: 15px; }

.contacts-info__tel, .contacts-info__inst, .contacts-info__facebook {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.1875;
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: 26px;
  position: relative; }
  .contacts-info__tel::before, .contacts-info__inst::before, .contacts-info__facebook::before {
    content: "";
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    position: absolute;
    background-image: url("../images/phone.svg");
    background-size: cover; }

.contacts-info__tel::before {
  background-image: url("../images/phone.svg"); }

.contacts-info__inst::before {
  background-image: url("../images/insta.svg"); }

.contacts-info__facebook {
  margin-bottom: 0; }
  .contacts-info__facebook::before {
    background-image: url("../images/facebook.svg"); }

@media (max-width: 767.97px) {
  .cover__title_contacts {
    margin: 0px 0 -5px 0; } }

@media (max-width: 450px) {
  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .contacts-info {
    margin: 0; }
    .contacts-info__specialty, .contacts-info__name {
      text-align: center; }
  .contacts__image {
    margin-bottom: 20px; } }

.services {
  padding-bottom: 50px; }
  .services__list {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 760px;
    width: 100%; }
    .services__list > li {
      display: block;
      text-align: center;
      padding: 20px 35px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16667;
      text-transform: uppercase;
      color: #3e2525;
      border-radius: 30px;
      -webkit-box-shadow: 1px 25px 40px rgba(0, 0, 0, 0.25);
      box-shadow: 1px 25px 40px rgba(0, 0, 0, 0.25);
      background-image: url(../images/services-background.jpg);
      position: relative; }
      .services__list > li::before {
        content: "";
        height: 20px;
        width: 20px;
        position: absolute;
        left: 13px;
        top: 13px;
        background-color: #1d2521;
        border-radius: 50%; }
    .services__list > li:not(:last-child) {
      margin-bottom: 30px; }

@media (min-width: 768.02px) {
  .services__list > li {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .services__list > li:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); } }

@media (max-width: 767.98px) {
  .cover__title_services {
    margin: 0 0 -5px 0; } }

.container_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 559.98px) {
  .services__list li {
    font-size: 24px;
    border-radius: 20px; }
    .services__list li::before {
      height: 15px;
      width: 15px; } }

@media (max-width: 410px) {
  .services__list li {
    padding: 15px 35px;
    border-radius: 20px;
    font-size: 18px; }
    .services__list li::before {
      height: 10px;
      width: 10px;
      left: 10px;
      top: 10px; } }

.container_studio {
  max-width: 1122px; }

.studio {
  padding: 75px 10px; }
  .studio__row {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 456px; }
  .studio__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: drop-shadow(1px 25px 40px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(1px 25px 40px rgba(0, 0, 0, 0.25));
    border-radius: 30px; }
  .studio__image_bigger {
    height: 55%; }
  .studio__image_smaller {
    height: calc(45% - 15px); }
  .studio__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    gap: 15px; }

.studio-row__1 {
  gap: 15px;
  margin-bottom: 50px; }
  .studio-row__1 > div:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 700px;
    flex: 0 1 700px; }
  .studio-row__1 > div:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 327px;
    flex: 0 1 327px; }

.studio-row__2 {
  gap: 15px;
  margin-bottom: 50px; }
  .studio-row__2 > div:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 337px;
    flex: 0 1 337px; }
  .studio-row__2 > div:nth-child(2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 337px;
    flex: 0 1 337px; }
  .studio-row__2 > div:nth-child(3) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 337px;
    flex: 0 1 337px; }

.studio-row__3 > div:nth-child(1) {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%; }
  .studio-row__3 > div:nth-child(1) img {
    -o-object-position: 50% 25%;
    object-position: 50% 25%; }

@media (max-width: 1000px) {
  .studio__row {
    height: 300px; } }

@media (max-width: 767.98px) {
  .cover__title_studio {
    margin: 0 0 15px 0; }
  .studio-row__1, .studio-row__2, .studio-row__3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    margin-bottom: 15px; }
    .studio-row__1 > div:nth-child(n), .studio-row__2 > div:nth-child(n), .studio-row__3 > div:nth-child(n) {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto; }
  .studio__image {
    height: 400px; } }

@media (max-width: 500px) {
  .studio__image {
    height: 300px; } }

@media (max-width: 440px) {
  .studio__image {
    height: 250px; } }
