@font-face {
   font-family: "Futura";
   src: url("../fonts/Futura-Bold/Futura-Bold.eot");
   src: url("../fonts/Futura-Bold/Futura-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Futura-Bold/Futura-Bold.woff") format("woff"),
      url("../fonts/Futura-Bold/Futura-Bold.ttf") format("truetype"),
      url("../fonts/Futura-Bold/Futura-Bold.svg#Futura-Bold") format("svg");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gallient";
   src: url("../fonts/Gallient-Regular/Gallient-Regular.woff");
   src: url("../fonts/Gallient-Regular/Gallient-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Gallient-Regular/Gallient-Regular.woff") format("woff"),
      url("../fonts/Gallient-Regular/Gallient-Regular.ttf") format("truetype"),
      url("../fonts/Gallient-Regular/Gallient-Regular.svg#Gallient-Regular") format("svg");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
