@import "null_style.scss";
@import "header.scss";
/*-------------------------------ШРИФТЫ-----------------------------------*/
//&display=swap&subset=cyrillic-ext
@import "fonts.scss";
/*-------------------------ШРИФТ ПО УМОЛЧАНИЮ-----------------------------*/
$fontFamily: "";
/*-------------------------------ПЕРЕМЕННЫЕ-------------------------------*/
$paddingContainer: 40;
$maxWidthContainer: 1196 + $paddingContainer * 2;
$WidthContainer: 1196;

$md1: $maxWidthContainer + $paddingContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
/*
   @media (max-width: $md2 + px) {
   }
   @media (max-width: $md3 + px) {
   }
   @media (max-width: $md4 + px) {
   }
*/
/*--------------------------CONTENT WRAPPERS------------------------------*/
body {
   font-family: $fontFamily;
   background: #202824;
}
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   position: relative;
   &::after {
      content: url("../images/decor-2.png");
      position: absolute;
      bottom: -18px;
      right: 3px;
      z-index: -1;
   }
   @media (max-width: 1099.98px) {
      &::after {
         bottom: -18px;
         right: -30px;
      }
   }
   @media (max-width: 899.98px) {
      &::after {
         bottom: -18px;
         right: -200px;
      }
   }
   @media (max-width: 767.98px) {
      &::after {
         bottom: -200px;
         right: -300px;
      }
   }
   @media (max-width: 767.98px) {
      &::after {
         display: none;
      }
   }
}
.container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 $paddingContainer + px;
   &__header {
      position: relative;
   }
}
@media (max-width: 767.98px) {
   .container {
      padding: 0 15px;
   }
}
.page {
   flex: 1 1 100%;
}
/*------------------------------HEADER------------------------------------*/
@import "header.scss";
/*-------------------------------BEM-BLOCKS-------------------------------*/

/*------------------------------PAGE--------------------------------------*/
.line {
   position: absolute;
   top: 0;
   left: 14px;
   z-index: 20;
   &__item {
      height: 76vh;
      width: 2px;
      background-color: #dfb388;
      margin-bottom: 16px;
   }
   &__icons {
      a {
         display: block;
         transform: translateX(-50%);
      }
      a:not(:last-child) {
         margin-bottom: 24px;
      }
      img:hover {
         filter: brightness(80%);
         transition: filter ease 0.4s;
      }
   }
}
@media (max-width: 1290px) {
   .line {
      left: 25px;
   }
}
@media (max-width: 767.98px) {
   .line {
      display: none;
   }
}
.cover {
   padding: 0 0 116px 0;
   @media (max-width: 574.98px) {
      padding: 0 0 80px 0;
   }
   @media (max-width: 409.98px) {
      padding: 0 0 60px 0;
   }
   @media (max-width: 349.98px) {
      padding: 0 0 40px 0;
   }
   position: relative;
   &::before {
      content: url("../images/decor.png");
      position: absolute;
      top: -11px;
      left: -241px;
   }
   &::after {
      content: url("../images/decor.png");
      position: absolute;
      top: -90px;
      right: -238px;
      transform: rotate(-180deg);
   }
   // .cover__title

   &__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 31.3834px;
      line-height: 37/31.3834 * 1;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      margin: 14px 0 -24px 0;
      &_contacts {
         margin: 14px 0 0px 0;
      }
      &_studio {
         margin: 14px 0 14px 0;
      }
      &_services {
         margin: 14px 0 -12px 0;
      }
   }

   // .cover__subtitle

   &__subtitle {
      font-family: Gallient;
      font-style: normal;
      font-weight: normal;
      font-size: 168.08px;
      line-height: 1;
      color: #ffffff;
      text-align: center;
      margin-bottom: 15px;
      &_contacts {
         margin-bottom: 70px;
      }
   }

   // .cover__buttons

   &__buttons {
      display: flex;
      justify-content: center;
   }
}
.buttons {
   // .buttons__book-session

   &__book-session {
      display: inline-block;
      font-family: Futura;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19/14 * 1;
      text-transform: uppercase;
      color: #202824;
      background: #f1d8c0;
      border-radius: 36px;
      padding: 9px 18px;
      min-width: 171px;
      margin-right: 18px;
      &:hover {
         background: #dfb388;
         transition: background ease 0.4s;
      }
   }

   // .buttons__explore

   &__explore {
      display: inline-block;
      font-family: Futura;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 19/14 * 1;
      color: #f1d8c0;
      border: 2px solid #f1d8c0;
      border-radius: 36px;
      padding: 7px 75px 7px 27px;
      min-width: 171px;
      background: url("../images/btn-arrow.svg") 84% 50% no-repeat;
      &:hover {
         border: 2px solid #dfb388;
         color: #dfb388;
         transition: color ease 0.4s;
         transition: border ease 0.4s;
      }
   }
}
@media (max-width: 767.98px) {
   .cover {
      &__title {
         font-size: 24px;
         margin: 0 0 -20px 0;
      }
      &__subtitle {
         font-size: 128px;
      }
   }
}
@media (max-width: 559.98px) {
   .cover {
      &__title {
         font-size: 18px;
         margin: 0 0 -15px 0;
      }
      &__subtitle {
         font-size: 96px;
      }
   }
}
@media (max-width: 424.98px) {
   .cover {
      &__title {
         font-size: 14px;
         margin: 0 0 -10px 0;
      }
      &__subtitle {
         font-size: 72px;
      }
   }
}
@media (max-width: 374.98px) {
   .buttons {
      display: block;
      text-align: center;
      &__book-session {
         margin: 0 0 20px 0;
      }
   }
}
//======================================================================
.container__slider {
   position: relative;
   padding: 0 104px 92px 104px;
}
/* Конкретный слайдер */
.slider {
   position: relative;
   padding: 0 60px;
   &::before {
      content: url("../images/decor.png");
      position: absolute;
      transform: scale(-1, 1) rotate(-86.25deg);
      bottom: -224px;
      left: -30px;
      z-index: -1;
   }
   @media (max-width: 1099.98px) {
      &::before {
         bottom: -224px;
         left: -200px;
      }
   }
   @media (max-width: 767.98px) {
      &::before {
         bottom: -424px;
         left: -200px;
      }
   }
   @media (max-width: 767.98px) {
      &::before {
         display: none;
      }
   }
   /* Cлайд */
   &__item {
      text-align: center;
      img {
         max-width: 100%;
         max-height: 339px;
         object-fit: contain;
      }
   }
   /* Ограничивающая оболочка */
   .slick-list {
      overflow: hidden;
      max-height: 339px;
   }
   /* Лента слайдов */
   .slick-track {
      display: flex;
      align-items: center;
      //align-items: flex-start;
      //(для JS > adaptiveHeight: true)
   }
   /* Стрелка */
   .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      font-size: 0;
      width: 40px;
      height: 40px;
   }
   /* Стрелка вправо */
   .slick-arrow.slick-next {
      right: 0;
      background: url("../images/arrow-active.svg") 0 0 / 100% no-repeat;
      &:hover {
         filter: brightness(80%);
         transition: filter ease 0.4s;
      }
   }
   /* Стрелка влево */
   .slick-arrow.slick-prev {
      left: 0;
      background: url("../images/arrow-active.svg") 0 0 / 100% no-repeat;
      transform: rotate(180deg) translateY(50%);
      &:hover {
         filter: brightness(80%);
         transition: filter ease 0.4s;
      }
   }
   /* Стрелка не активная */
   .slick-arrow.slick-disabled {
      background: url("../images/arrow-blocked.svg") 0 0 / 100% no-repeat;
      &:hover {
         filter: brightness(100%);
      }
   }
   /* Точки (булиты) */
   .slick-dots {
      position: absolute;
      bottom: -44px;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
      display: flex;
      align-items: flex-end;
      height: 9px;
      font-size: 0px;
   }
   .slick-dots li {
      list-style: none;
      margin: 0 16px;
   }
   /* Активная точка */
   .slick-dots li.slick-active {
      button {
         width: 100px;
         height: 9px;
         background: #ffffff;
      }
   }
   /* Элемент точки */
   .slick-dots li button {
      font-size: 0;
      width: 100px;
      height: 5px;
      background: rgba(255, 255, 255, 0.4);
   }
}
// ЦЕ ДЛЯ ЦИФР В СЛАЙДЕРІ
.slider__counter {
   position: absolute;
   bottom: 104px;
   left: 50%;
   transform: translateX(-50%) translateY(100%);
   z-index: 1;
}
.slider__current-slide {
   font-family: "Gallient";
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 68/48 * 1;
   letter-spacing: 0.105em;
   text-transform: uppercase;
   color: #fff;
}
.slider__all-slides {
   font-family: "Gallient";
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 29/20 * 1;
   letter-spacing: 0.105em;
   text-transform: uppercase;
   color: #ffffff;
}
@media (max-width: 1099.98px) {
   .container__slider {
      padding: 0 60px 92px 60px;
   }
}
@media (max-width: 767.98px) {
   .slider {
      padding: 0 15px;
   }
   .container__slider {
      padding: 0 15px 92px 15px;
   }
}
@media (max-width: 624.98px) {
   .slider {
      .slick-dots li {
         margin: 0 16px;
      }
      /* Активная точка */
      .slick-dots li.slick-active {
         button {
            width: 70px;
            height: 9px;
         }
      }
      /* Элемент точки */
      .slick-dots li button {
         width: 70px;
         height: 5px;
      }
   }
}
@media (max-width: 424.98px) {
   .slider__counter {
      bottom: 100px;
      .slider__current-slide {
         font-size: 42px;
      }
      .slider__all-slides {
         font-size: 18px;
      }
   }
}
@media (max-width: 377.98px) {
   .slider__counter {
      bottom: 100px;
      .slider__current-slide {
         font-size: 36px;
      }
      .slider__all-slides {
         font-size: 14px;
      }
   }
}
/*===============================FOOTER=====================================*/

.footer {
   // .footer__line
   padding: 0 0 20px 0;
   &__line {
      width: 70vw;
      margin: 0 auto 20px auto;
      height: 2px;
      background-color: #f1d8c0;
   }

   // .footer__icons

   &__icons {
      display: flex;
      justify-content: center;
      img {
         height: 40px;
      }
      a:not(:last-child) {
         margin-right: 20px;
      }
   }
}
@media (max-width: 424.98px) {
   .footer {
      &__icons {
         img {
            height: 30px;
         }
      }
   }
}
@media (min-width: 767.98px) {
   .footer {
      display: none;
   }
}
/*========================================================================*/
.page {
   padding: 14px 0 0 0;
}
.container_contacts {
   display: flex;
}
.contacts {
   padding-bottom: 50px;
   // .contacts__row

   &__row {
      margin: 0 auto;
      display: flex;
      align-items: center;
   }

   // .contacts__info

   &__info {
      margin-right: 20px;
      & > a {
         div {
            transition: color 0.2s ease;
         }
         &:hover > div {
            color: #f1d8c0;
         }
      }
   }

   // .contacts__image

   &__image {
      img {
         max-width: 100%;
      }
   }
}
.contacts-info {
   // .contacts-info__name

   &__name {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26/22 * 1;
      color: #ffffff;
      margin-bottom: 10px;
   }

   // .contacts-info__specialty

   &__specialty {
      font-family: "Roboto";
      font-style: italic;
      font-weight: 700;
      font-size: 18px;
      line-height: 21/18 * 1;
      color: #ffffff;
      margin-bottom: 15px;
   }
   &__tel,
   &__inst,
   &__facebook {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19/16 * 1;
      color: #ffffff;
      margin-bottom: 10px;
      padding-left: 26px;
      position: relative;
      &::before {
         content: "";
         left: 0;
         top: 50%;
         transform: translateY(-50%);
         height: 16px;
         width: 16px;
         position: absolute;
         background-image: url("../images/phone.svg");
         background-size: cover;
      }
   }
   // .contacts-info__tel

   &__tel {
      &::before {
         background-image: url("../images/phone.svg");
      }
   }

   // .contacts-info__inst

   &__inst {
      &::before {
         background-image: url("../images/insta.svg");
      }
   }

   // .contacts-info__facebook

   &__facebook {
      margin-bottom: 0;
      &::before {
         background-image: url("../images/facebook.svg");
      }
   }
}
@media (max-width: 450px) {
   .contacts__row {
      flex-direction: column-reverse;
   }
   .contacts-info {
      margin: 0;
      &__specialty,
      &__name {
         text-align: center;
      }
   }
   .contacts__image {
      margin-bottom: 20px;
   }
}
//==========================================SERVICES==============================================================
.services {
   padding-bottom: 50px;
   // .services__list

   &__list {
      margin: 0 auto;
      padding: 0 30px;
      max-width: 760px;
      width: 100%;
      & > li {
         display: block;
         text-align: center;
         padding: 20px 35px;
         font-family: "Roboto";
         font-style: normal;
         font-weight: 700;
         font-size: 36px;
         line-height: 49/42 * 1;
         text-transform: uppercase;
         color: #3e2525;
         border-radius: 30px;
         box-shadow: 1px 25px 40px rgba(0, 0, 0, 0.25);
         background-image: url(../images/services-background.jpg);
         position: relative;
         &::before {
            content: "";
            height: 20px;
            width: 20px;
            position: absolute;
            left: 13px;
            top: 13px;
            background-color: #1d2521;
            border-radius: 50%;
         }
      }
      & > li:not(:last-child) {
         margin-bottom: 30px;
      }
   }
}
@media (min-width: 768.02px) {
   .services__list {
      & > li {
         transition: all 0.2s ease;
         &:hover {
            transform: scale(1.05);
         }
      }
   }
}
.container_services {
   display: flex;
}

@media (max-width: 559.98px) {
   .services__list {
      li {
         font-size: 24px;
         border-radius: 20px;
         &::before {
            height: 15px;
            width: 15px;
         }
      }
   }
}
@media (max-width: 410px) {
   .services__list {
      li {
         padding: 15px 35px;
         border-radius: 20px;
         font-size: 18px;
         &::before {
            height: 10px;
            width: 10px;
            left: 10px;
            top: 10px;
         }
      }
   }
}
//==============================================STUDIO=====================================================
.studio {
   display: flex;
   padding: 0 30px 50px 30px;
   // .studio__row

   &__row-1,
   &__row-2,
   &__row-3 {
      max-width: 1100px;
      width: 100%;
      display: flex;
      overflow: hidden;
   }
}
.row-1,
.row-2,
.row-3 {
   &__element {
      img {
         border-radius: 30px;
         max-width: 100%;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
.container_studio {
   margin: 0 auto;
}
.row-1 {
   margin: 0 0 30px 0;
   &__column {
      padding: 0 7.5px;
   }
   & > div:nth-child(1) {
      flex: 0 0 70%;
   }
   & > div:nth-child(2) {
      flex: 0 0 30%;
      display: flex;
      flex-direction: column;
      & > div:nth-child(1) {
         height: 60%;
         padding: 7.5px 0;
      }
      & > div:nth-child(2) {
         height: 40%;
         padding: 7.5px 0;
      }
   }
}
.row-2 {
   margin: 0 0 30px 0;
   &__column {
      padding: 0 7.5px;
   }
   & > div:nth-child(1) {
      flex: 0 0 33.333%;
      display: flex;
      flex-direction: column;
      & > div:nth-child(1) {
         height: 60%;
         padding: 7.5px 0;
      }
      & > div:nth-child(2) {
         height: 40%;
         padding: 7.5px 0;
      }
   }
   & > div:nth-child(2) {
      flex: 0 0 33.333%;
      align-self: stretch;
      & > div {
         height: 100%;
      }
   }
   & > div:nth-child(3) {
      flex: 0 0 33.333%;
      display: flex;
      flex-direction: column;
      & > div:nth-child(1) {
         height: 40%;
         padding: 7.5px 0;
      }
      & > div:nth-child(2) {
         height: 60%;
      }
   }
}
.row-3 {
   height: 450px;
   // .row-3__column
   &__column {
      width: 100%;
      .row-3__element {
         padding: 0 7.5px;
         height: 100%;
         img {
            max-height: 100%;
         }
      }
   }
}
@media (max-width: 1000px) {
   .row-1,
   .row-2,
   .row-3 {
      &__element {
         img {
            border-radius: 20px;
         }
      }
   }
}
@media (max-width: 600px) {
   .row-1,
   .row-2,
   .row-3 {
      &__element {
         img {
            border-radius: 15px;
         }
      }
   }
}
